.about-section{
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        padding: 0 1rem 0 1rem;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
    details{
        width: 80%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}