.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 colonnes de taille égale
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    background-color: #F6F6F6;
    width: 100%;
    max-width: 1240px;
    margin: auto;
    border-radius: 25px;
    padding: 3rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        grid-column-gap: 0;
        grid-row-gap: 1.3rem;
        border-radius: 0;
        padding: 0 1rem 0 1rem;
        background-color: white;
    }
}