.host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;

    img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;

        @media (max-width: 768px) {
            width: 48px;
            height: 48px;
        }
    }
    p{
        font-size: 18px;
        font-weight: 500;
        color: #FF6060;
        word-wrap: break-word;
        width: 4rem;
        text-align: end;

        @media (max-width: 768px) {
            font-size: 16px;
            width: initial;
        }   
    }

}